
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Jobboard">
    <title>JobBoard - Bootstrap HTML5 Job Portal Template</title>

    <link rel="shortcut icon" href="~/assets/img/favicon.png">

    @Styles.Render("~/bundles/core")

    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/fonts/themify-icons.css">

</head>
<body>


    @RenderPage("~/Views/Shared/Header.cshtml")

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="right-sideabr">
                        <div class="inner-box">
                            <a href="service-show.html">
                                <img src="~/assets/img/resume/img-1.jpg" class="img-circle" alt="" width="250" height="250">
                            </a>
                            <a href="service-show.html" class="name-account"><h3>John</h3></a>
                            <div class="button-wrap">
                                <a class="btn-large-standard" href="">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>Chỉnh sữa thông tin
                                </a>
                            </div>
                            <hr>
                            <ul class="lest item">
                                <li>
                                    <div id="flex-info-account">
                                        <p><i class="fa fa-map-marker" aria-hidden="true"></i>Đến từ</p>
                                    </div>
                                    <strong>Ha Noi</strong>
                                </li>
                                <li>
                                    <div id="flex-info-account">
                                        <p><i class="fa fa-user" aria-hidden="true"></i>Thành viên</p>
                                    </div>
                                    <strong>2018</strong>
                                </li>
                            </ul>
                            <ul class="lest">
                                <li><a href="update-info.html">Cập nhật tài khoản</a></li>
                                <li><a href="bookmarked.html">Đã lưu</a></li>
                                <li><a href="notifications.html">Thông báo<span class="notinumber">2</span></a></li>
                                <li><a href="change-password.html">Thay đỗi mật khẩu</a></li>
                                <li><a href="index-2.html">Đăng xuất</a></li>
                            </ul>
                        </div>
                        <div class="inner-box">

                            <ul class="lest item">
                                <li>
                                    <aside>
                                        <h5>
                                            Mô tả
                                            <a class="add" href="">Chỉnh sữa mô tả</a>
                                        </h5>
                                    </aside>
                                    <hr>
                                    <section>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa voluptatum eveniet eum repellendus aliquam, similique a maiores deserunt.</p>
                                    </section>
                                </li>
                                <li>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="job-list">
                        <div class="swiper-slide swiper-slide-next" style="">
                            <div class="item">
                                <div class="name align-items-center row no-gutters">
                                    <div class="col-md-2 avatar">
                                        <a href="" title="">
                                            <img src="https://media.ifind.vn/data/images/brand/o1.jpg" class="img-circle" alt="" width="40" height="40">
                                        </a>
                                    </div>
                                    <div class="col names">
                                        <a href="" title="">Lorem.</a>
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <info id="num_follow_217" class="num_follow">12518</info>
                                                </span>
                                            </div>
                                            <div class="col">
                                                <div class="flow text-right ">
                                                    <a onclick="" class="text-center">
                                                        <i class="fa fa-star-o"></i> Theo dõi
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img alt="" src="https://media.ifind.vn/data/images/media/b-1541146050385.jpg">
                                    </a>
                                </div>
                                <div class="namess">
                                    <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt.</a>
                                </div>
                                <hr>
                                <div class="row no-gutters align-items-center">
                                    <div class="flex-container">
                                        <div class="col text-center">
                                            <a class="disable-select" onclick="">
                                                <i class="fa fa-heart-o"></i>Lưu
                                            </a>
                                        </div>
                                        <div class="col text-center">
                                            <a href="#" class="" style="cursor:pointer" onclick="" target="_blank"><i class="fa fa-share-alt"></i> Chia sẻ</a>
                                        </div>
                                        <div class="col text-center ">
                                            <a href=""><i class="fa fa-info-circle"></i> Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="job-list">
                        <div class="swiper-slide swiper-slide-next" style="">
                            <div class="item">
                                <div class="name align-items-center row no-gutters">
                                    <div class="col-md-2 avatar">
                                        <a href="" title="">
                                            <img src="https://media.ifind.vn/data/images/brand/o1.jpg" class="img-circle" alt="" width="40" height="40">
                                        </a>
                                    </div>
                                    <div class="col names">
                                        <a href="" title="">Lorem.</a>
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <info id="num_follow_217" class="num_follow">12518</info>
                                                </span>
                                            </div>
                                            <div class="col">
                                                <div class="flow text-right ">
                                                    <a onclick="" class="text-center">
                                                        <i class="fa fa-star-o"></i> Theo dõi
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img alt="" src="https://media.ifind.vn/data/images/media/b-1541146050385.jpg">
                                    </a>
                                </div>
                                <div class="namess">
                                    <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt.</a>
                                </div>
                                <hr>
                                <div class="row no-gutters align-items-center">
                                    <div class="flex-container">
                                        <div class="col text-center">
                                            <a class="disable-select" onclick="">
                                                <i class="fa fa-heart-o"></i>Lưu
                                            </a>
                                        </div>
                                        <div class="col text-center">
                                            <a class="" style="cursor:pointer" onclick="" href="" target="_blank"><i class="fa fa-share-alt"></i> Chia sẻ</a>
                                        </div>
                                        <div class="col text-center ">
                                            <a href=""><i class="fa fa-info-circle"></i> Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="job-list">
                        <div class="swiper-slide swiper-slide-next" style="">
                            <div class="item">
                                <div class="name align-items-center row no-gutters">
                                    <div class="col-md-2 avatar">
                                        <a href="" title="">
                                            <img src="https://media.ifind.vn/data/images/brand/o1.jpg" class="img-circle" alt="" width="40" height="40">
                                        </a>
                                    </div>
                                    <div class="col names">
                                        <a href="" title="">Lorem.</a>
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <info id="num_follow_217" class="num_follow">12518</info>
                                                </span>
                                            </div>
                                            <div class="col">
                                                <div class="flow text-right ">
                                                    <a onclick="" class="text-center">
                                                        <i class="fa fa-star-o"></i> Theo dõi
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img alt="" src="https://media.ifind.vn/data/images/media/b-1541146050385.jpg">
                                    </a>
                                </div>
                                <div class="namess">
                                    <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt.</a>
                                </div>
                                <hr>
                                <div class="row no-gutters align-items-center">
                                    <div class="flex-container">
                                        <div class="col text-center">
                                            <a class="disable-select" onclick="">
                                                <i class="fa fa-heart-o"></i>Lưu
                                            </a>
                                        </div>
                                        <div class="col text-center">
                                            <a class="" style="cursor:pointer" onclick="" href="" target="_blank"><i class="fa fa-share-alt"></i> Chia sẻ</a>
                                        </div>
                                        <div class="col text-center ">
                                            <a href=""><i class="fa fa-info-circle"></i> Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="job-list">
                        <div class="swiper-slide swiper-slide-next" style="">
                            <div class="item">
                                <div class="name align-items-center row no-gutters">
                                    <div class="col-md-2 avatar">
                                        <a href="" title="">
                                            <img src="https://media.ifind.vn/data/images/brand/o1.jpg" class="img-circle" alt="" width="40" height="40">
                                        </a>
                                    </div>
                                    <div class="col names">
                                        <a href="" title="">Lorem.</a>
                                        <div class="row no-gutters">
                                            <div class="col">
                                                <span>
                                                    <i class="fa fa-star-o"></i>
                                                    <info id="num_follow_217" class="num_follow">12518</info>
                                                </span>
                                            </div>
                                            <div class="col">
                                                <div class="flow text-right ">
                                                    <a onclick="" class="text-center">
                                                        <i class="fa fa-star-o"></i> Theo dõi
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image">
                                    <a href="">
                                        <img alt="" src="https://media.ifind.vn/data/images/media/b-1541146050385.jpg">
                                    </a>
                                </div>
                                <div class="namess">
                                    <a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt.</a>
                                </div>
                                <hr>
                                <div class="row no-gutters align-items-center">
                                    <div class="flex-container">
                                        <div class="col text-center">
                                            <a class="disable-select" onclick="">
                                                <i class="fa fa-heart-o"></i>Lưu
                                            </a>
                                        </div>
                                        <div class="col text-center">
                                            <a class="" style="cursor:pointer" onclick="" href="" target="_blank"><i class="fa fa-share-alt"></i> Chia sẻ</a>
                                        </div>
                                        <div class="col text-center ">
                                            <a href=""><i class="fa fa-info-circle"></i> Xem thêm</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <ul class="pagination">
                    <li class="active"><a href="#" class="btn btn-common"><i class="ti-angle-left"></i> Trước</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="active"><a href="#" class="btn btn-common">Kế tiếp <i class="ti-angle-right"></i></a></li>
                </ul>

            </div>
        </div>
    </div>


    @RenderPage("~/Views/Shared/Footer.cshtml")
    @Scripts.Render("~/bundles/js")
</body>

</html>