@model DACN.Models.DataModel.DanhMuc

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/_Layout _Admin.cshtml";
}



<div class="col-lg-9">
    <div class="card">
        <div class="card-header">
            <strong>Xóa danh mục</strong>
        </div>
        <div class="card-body card-block">
            <h3>Bạn có thật sự muốn xóa danh mục này?</h3>

            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="hf-email" class=" form-control-label">Tên Danh Mục</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.TenDM)
                </div>
            </div>
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="hf-email" class=" form-control-label">Độ ưu tiên</label>
                </div>
                <div class="col-12 col-md-9">
                    @Html.DisplayFor(model => model.DoUuTien)
                </div>
            </div>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="card-footer">
                <button style="height:38px;margin-right:10px;" type="submit" class="btn btn-danger btn-sm btn-custom">
                    <i style="padding-right:5px;" class="fa fa-dot-circle-o"></i>Xóa
                </button>

                <label style="margin-bottom:0!important;" class="btn btn-success btn-custom">
                    <i class="ti-arrow-left"></i>
                    <a style="color:white; " href="@Url.Action("Index", "QuanLyDanhMuc")">Trở về</a>
                </label>

            </div>
        }
    </div>

</div>